<h1>Sample App</h1>
<p>
  These are the static pages for the site:
   <a href="./static_pages/about">About</a>
   <a href="./static_pages/contact">Contact</a>
   <a href="./static_pages/help">Help</a>
</p>
